body {
    font-family: Helvetica, Arial, sans-serif;
    color: #46483e;
}

section {
    margin: 0 2rem;
}

.is-loading #chat {
    display: none;
}

.is-ready #loading {
    display: none;
}

#chat-input {
    width: 500px;
}